{% extends "base.html" %}

{% block header %}

<div class="container col-xxl-8 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ object.logo.url }}" class="d-block mx-lg-auto img-fluid" alt="Soccer Player" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <p><span class="badge bg-secondary">{{ object.hometown }}</span></p>
        <h1 class="display-5 fw-bold lh-1 mb-3">{{ object.team_name }}</h1>
        <h2 class="display-5 fw-bold lh-1 mb-3">{{ object.headline }}</h2>
        <p class="lead">{{ object.description }}</p>
      </div>
    </div>
    <div class="container py-2">
      <a class="btn btn-primary" href="{{ object.twitter }}" role="button">Twitter</a>
      <a class="btn btn-primary" href="{{ object.instagram }}" role="button">Instagram</a>
      <a class="btn btn-primary" href="{{ object.website }}" role="button">Website</a>
    </div>
</div>
{% endblock header %}

{% block content %}

<div class="container col-xxl-8 px-4 py-2">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                TEAM INFORMATION
                </button>
            </h2>
        </div>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
            <div class="accordion-body">
                <div>
                    <h3>Basic Information</h3>
                    <p>Team name: {{ object.team_name }}</p>
                    <p>Established: {{ object.established }}</p>
                    <p>Head coach: {{ object.headcoach }}</p>
                    <p>Clubhouse Location: {{ object.clubhouse_location }}</p>
                    <p>Players: {{ object.team_name }}</p>
                    <p>Achievement: {{ object.achievement|linebreaksbr }}</p>
                </div>
                <div>
                    <h3>Headcoach Message</h3>
                    <p>Achievement: {{ object.headcoach_message|linebreaksbr }}</p>    
                </div>
            {{ object.description }}
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                PLAYER INFORMATION
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                <div class="accordion-body">
                    <div class="row">
                        {% for player in object.Players.all %}
                        <div class="col-sm-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">{{ player.player_name }}</h5>
                              <p class="card-text">{{ player.number }}/{{ player.position }}</p>
                              <p class="card-text">Foot: {{ player.foot }}</p>
                              <p class="card-text">Height: {{ player.height }}cm</p>
                              <p class="card-text">Weight: {{ player.weight }}kg</p>
                              <p class="card-text">Voice:</p>
                              <p class="card-text">{{ player.voice|linebreaksbr }}</p>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-2">
    <a class="btn btn-primary" href="#" role="button">LIKE THIS TEAM</a>
</div>

{% endblock content %}